## {{ ansible_managed }}

object Host "{{ hostvars[hostitem]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[hostitem]['ansible_default_ipv4']['address'] }}"
  vars.os = "Linux"
  vars.sla = "24x7"
  vars.type = "cn"

  vars.disks["disk"] = {
  }
}
